---
import "../styles/global.css";

import BlockRenderer from "../components/BlockRenderer.astro";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type" : "application/json"
	},
	body: JSON.stringify({
		query: `
			query PageQuery {
				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
					}
				}
			}		
		`
	})
}) ;

const {data} = await response.json();
const blocks = data.nodeByUri?.blocks || [];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BlockRenderer blocks={blocks} />
	</body>
</html>
