---

import BlockRenderer from "../components/BlockRenderer.astro";
import type { Block } from '@wp-block-tools/styles';
import CommonHead from "../components/CommonHead.astro";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type" : "application/json"
	},
	body: JSON.stringify({
		query: `
			query PageQuery {				
				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
						seo {
							metaDesc
							title
						}
					}
				}
			}		
		`
	})
}) ;

const {data} = await response.json();
const blocks = (data.nodeByUri?.blocks || []) as Block[];
const seo = data.nodeByUri?.seo;

---

<html lang="en">

	<CommonHead title={seo.title || ""} description={seo.metaDesc || ""} />
	<body>
		<BlockRenderer blocks={blocks} />
	</body>

</html>
